.c-legend-map {
  position: absolute;
  bottom: 40px;
  right: 30px;
  width: calc(100% - 60px);
  max-width: 400px;
  z-index: 2;

  @media screen and (min-width: $grid-row-width) {
    width: 100%;
    min-width: 400px;
  }
}
